<td class="table-division">
  <div><img class="row-pic" src="{{this.profile_picture}}" alt="img" class="table-image" /></div>
</td>
<td class="table-division">
  <div><a href="/photographers/{{this._id}}">{{this.name}}</a></div>
</td>
<td class="table-division">
  <div class="description">{{this.description}}</div>
</td>
<td class="table-division">
  <div class="categories-list">
    {{#each this.categories}}
    <li>{{this}}</li>
    {{/each}}
  </div>
</td>
<td class="table-division">
  <div>{{this.price}} EUR</div>
</td>
<td class="table-division">
  <a href="/photographers/{{this._id}}/edit" data-id-photographer="{{this._id}}"><i class="fa fa-edit table-icon"></i></a>
</td>
<td class="table-division">
  <a href="/photographers/{{this._id}}/delete" data-id-sneaker="{{this._id}}"  aria-hidden="true"><i class="fa fa-trash table-icon"></i></a> 
</td>
