<div class="pages content profile-page">
    <div class="photog-info">
        <div><img class="each-profile-pic" src={{photographer.profile_picture}}></div>
        <div><h1>{{photographer.name}}</h1></div>
        <div><p>{{photographer.description}}</p></div>
        <div><p>Price starts at <b class="impt">{{photographer.price}} euros</b>  per day</p></div>
        <div><p>Located at <b class="impt">{{photographer.location}}</b></p></div>
        <div>
            {{#if isLoggedIn}}
            <form action="mailto:{{photographer.email}}" method="post" enctype="text/plain">
                <input type="submit" value="BOOK">
            </form>
            <form action="/photographers//{{photographer._id}}/solo" method="POST">
            <label for="reviews">add a review</label>
            <textarea type="text" name="review" placeholder="blablabla"></textarea>  
            <button type="submit">submit</button>
            </form>
            <form action="/photographers//{{photographer._id}}/solo/liked" method="POST">
                <button type="submit">Like</button>
            </form>
            
             {{/if}}
              <div>
        {{#each photographer.reviews}}
        <div>
        <p class="comment" >{{this}}</p>
        </div>
        {{/each}}
    </div>
        </div>
    </div>
    
    <div class="each-portfolio">
        {{#each photographer.portfolio}}
        <img class="each-photo" src={{this}}>
        {{/each}}
    </div>

    
</div>