<div class="pages content">
    <div class="photog-info">
        <div><img class="each-profile-pic" src={{photographer.profile_picture}}></div>
        <div><h1>{{photographer.name}}</h1></div>
        <div><p>{{photographer.description}}</p></div>
        <div><p>Price starts at {{photographer.price}} euros per day</p></div>
        <div><p>Located at {{photographer.location}}</p></div>
        <div>
            {{!-- <p>Book at {{photographer.email}}</p> --}}
            <form action="mailto:{{photographer.email}}" method="post" enctype="text/plain">
                <input type="submit" value="BOOK">
            </form>
        </div>
    </div>
    
    <div class-"each-portfolio">
        {{#each photographer.portfolio}}
        <img src="{{this}}">
        {{/each}} 
    </div>
    
</div>