<h2>{{photographer.name}}</h2>
<img src="{{photographer.profile_picture}}">
<li>{{photographer.name}}</li>
<p>{{photographer.description}}</p>
<a>{{photographer.price}}</a>
<a>{{photographer.location}}</a>
<a>{{photographer.email}}</a>

{{#each photographer.portfolio}}
<img src="{{this}}">
{{/each}}