<div class="pages">
    <h1>
        > ALL PHOTOGRAPHERS < 
        <p id="filterText">hide filter : <input type="checkbox" id="filterDisplay"></p>
    </h1>
        <div id="profile-container">
            {{!-- <div class="form-container"> --}}
                {{> filter}}
            {{!-- </div> --}}
            <div id="all-photographers">

                {{#unless photographers}}
                <p>sorry not photographers yet!</p>
                {{/unless}}
                {{#each photographers}}
                <a href="/photographers/{{this._id}}/solo">
                    <div class="photographer-profile">
                        {{!-- portfolio layout --}}
                        <div class="portfolio-block">
                            <div>
                                <img class="img-portfolio" src="{{this.portfolio.[0]}}"> 
                            </div>
                            <div>
                                <img class="img-portfolio" src="{{this.portfolio.[1]}}">
                            </div>
                            <div>
                                <img class="img-portfolio" src="{{this.portfolio.[2]}}">
                            </div>
                            <div>
                                <img class="img-portfolio" src="{{this.portfolio.[3]}}">
                            </div>
                        </div>
                        <hr style="width: 60%; margin: 20px auto;">
                        <div class="photographers-infos">
                            <div class="pp">
                                <img class="tete" src="{{this.profile_picture}}">
                            </div>
                            <div class="text-profile">
                                <h3>{{this.name}}</h3>
                                {{!-- <p>Price : {{this.price}}€ per day</p> --}}
                                <p>Location : {{this.location}}</p>
                                <p>Speciality : 
                                    <ul id="cat-list">
                                        {{#each this.categories}}
                                        <li>{{this}}</li>
                                        {{/each}}
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
                {{/each}}
            </div>
        </div>
    </div>




</div>