<div class="pages">
    <div class="user-container">
        <div>
            <h1 class="user-title">User Account:</h1>
        </div>
        <div class="cards">
            <div class="user-card">
                <img class="user-avatar" src="{{user.avatar}}" alt="{{user.firstname}}">
                <h2>{{user.firstname}} {{user.lastname}}</h2>
                {{#if user.company}}
                <p class="company">{{user.company}}</p>
                {{/if}}
                <p>{{user.email}}</p>
                <p><a class="btn-edit" href="/account/edit">Edit</a></p> 
            </div>
            <div class="link-card">
                <h3>Photographers you like:</h3>
                <div id="linked-wrapper">
                    {{#each user.photogfav}}
                    <div class="each-liked-wrapper">
                        <a href="/photographers/{{this._id}}/solo">
                            <img class="liked-img" src="{{this.profile_picture}}" alt="{{this.name}}">
                            <p>{{this.name}}</p>
                        </a>
                        <form action="/account/{{this._id}}/remove" method="POST">
                            {{!-- <button type="submit"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button> --}}
                            <button class="btn-x" type="submit">x</button>
                        </form>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>  
    </div>
    </div>
