<div class="pages">
        <h1>User Account:</h1>
    <div class="user-container">
        <div class="user-card">
            <img src="{{user.avatar}}" alt="{{user.firstname}}">
            <h1>{{user.firstname}} {{user.lastname}}</h1>
            {{#if user.company}}
            <p class="company">{{user.company}}</p>
            {{/if}}
            <p>{{user.email}}</p>
            <p><button class="btn-edit">Edit</button></p>
        </div>
        <div class="link-card">
            <h3>You have contacted the following photographers:</h3>
            <h1>{{user.firstname}} {{user.lastname}}</h1>
            {{#if user.company}}
            <p class="company">{{user.company}}</p>
            {{/if}}
            <p>{{user.email}}</p>
            <p><button class="btn-edit">Edit</button></p>
        </div>
    </div>
    <p><button class="btn-delete">Delete Account</button></p>
</div>