<div class="pages">
    <div class="user-container">
        <div>
            <h1 class="user-title">User Account:</h1>
        </div>
        <div class="cards">
            <div class="user-card">
                <img class="user-avatar" src="{{user.avatar}}" alt="{{user.firstname}}">
                <h2>{{user.firstname}} {{user.lastname}}</h2>
                {{#if user.company}}
                <p class="company">{{user.company}}</p>
                {{/if}}
                <p>{{user.email}}</p>
                <p><a class="btn-edit" href="/account/edit">Edit</a></p> 
            </div>
            <div class="link-card">
                <h3>Your favorite photographers</h3>
                <div class="linked-photog-list">
                    {{#each user.photogfav}}
                    <div>
                    <a>
                        {{this.name}}
                    </a>
                    <form action="/account/{{this._id}}/remove" method="POST">
                    <button type="submit">Remove</button>
                    </form>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>  
    </div>
    </div>
