<div class="pages">
    <div class="user-container">
        <div>
            <h1 class="user-title">User Account:</h1>
        </div>
        <div class="cards">
            <div class="user-card">
                <img class="user-avatar" src="{{user.avatar}}" alt="{{user.firstname}}">
                <h2>{{user.firstname}} {{user.lastname}}</h2>
                {{#if user.company}}
                <p class="company">{{user.company}}</p>
                {{/if}}
                <p>{{user.email}}</p>
                <p><a class="btn-edit" href="/account/edit">Edit</a></p> 
            </div>
            <div class="link-card">
                <h3>You have contacted the following photographers:</h3>
                <div class="linked-photog-list">
                    {{!-- booking model? --}}
                </div>
            </div>
        </div>  
    </div>
</div>